body {
  --slidev-code-background: #6f6969 !important;
}

.problem {
  font-size: 13px;
  background-color: #454545;
  margin-top: 30px;
  padding : 10px;
  border-radius: 10px;
}

.problem p {
  margin: 0;
  font-weight: bold;
}

ul.todo {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.todo li {
  padding-left: 1em;
  text-indent: -1em;
}

.todo li:before {
  content: "☐";
  padding-right: 5px;
}